/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS TEXT START*/

/*全站通用*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
	font-family: "微軟正黑體",arial;
}

a{
	text-decoration: none;
}

.wrap{
	margin: 0 auto;
	width: 900px;
}

.footer{
	margin-top: 15px;
}

.clearfix{
	clear: both;
}



/*header*/

.header{
	background-color: #f7f7f7;
}

.header ul{
	float: right;
}

.header li{
	float: left;
	margin: 10px 15px 10px 15px;
}

.fb-logo{
	color: #000088;
}

.twitter-logo{
	color: #00BBFF;
}

/*nav*/

.nav{
	margin: 15px 0;
}

.nav h1{
	float: left;
}

.nav h1 a{
	background-image: url(../images/logo.png);
	width: 170px;
	height: 36px;
	display: block;
	text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-repeat: no-repeat;
}

.nav{
	position: relative;
}

.nav > ul{
	float: right;
}

.nav > ul > li{
	float: left;
	margin: 10px 45px;
}

.nav li a{
	color: #00DDAA;
}

.nav li a:hover{
	border-bottom: solid 5px;
}

/*nav下拉式選單*/

.nav > ul > li > a:hover,.menu a.active{
	border-bottom: 5px solid #77FFCC;
}

.nav ul ul {
	display: none;
	margin-top: 10px;
	position: absolute;
	z-index: 9;
}

.nav ul ul li{
	padding-top: 10px;
}



/*banner*/
.info{
	position: relative;
}
.info h2{
	z-index:9;
	position: absolute;
	top: 110px;
	left: 25px;
	color: white;
	font-size: 36px;
	padding: 5px;
	line-height: 45px;
}


/*main*/
/*wrap:width=900*/

.cart ul{
	float: left;
	text-align: center;
}

.cart >ul>li{
	float: left;
	width: 280px;
	margin: 10px 7px;
	padding-top: 15px;
	line-height: 26px;
	border: 1px solid gray;
	-webkit-box-shadow: 5px 5px 5px gray;
    -ms-box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
}

.cart li h3{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.cart li p{
	text-align: justify; /*chrome*/
	text-justify: distribute; /*firefox,ie,edge */
	padding: 15px;
	line-height: 26px;
}

.cart li span{
	padding: 17px 5px;
	float: left;
}

.cart ul ul{
	list-style: disc;
	padding: 10px 0px 15px 25px;
	text-align: left;
	line-height: 25px;
}

/*context*//*課程差異*/

.context{
	margin-top: 30px;
}

.context h1{
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}

table{
	margin-left:auto; 
	margin-right:auto;
	width: 900px;
}

table th{
  font-weight: bold;
  background-color: #f7f7f7;
}

.price th,.price td{
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	font-size: 18px;
	padding: 10px 35px;
	text-align: left;
}

.best{
	color: #00DDAA;
}

/*message*//*表格*/

.message{
	margin-top: 25px;
	background: linear-gradient(#00644b,#009771);
}

.message p{
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-top: 25px;
	line-height: 35px;
}

textarea{
	display: block;
	float: left;
	border-radius: 3px;
	margin: 25px 25px 10px 60px;
	width: 400px;
	height: 170px;
	resize: none;
}

.imformation{
	float: left;
	margin: 20px;

}

.imformation label{
	display: block;
	color: white;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.imformation input{
	width: 300px;
	border-radius: 3px;
	border: 1px;
	margin-bottom: 10px;
	padding: 5px;
}

.imformation .btn{
	border-radius: 3px;
	margin-top: 22px;
	float: right;
	color: #fff;
	background-color: #00cc99;
	width: 45px;
	height: 35px;
	border: 1px;
	cursor: pointer;
}

.imformation .btn:hover{
	background-color: yellow;
	color: black;
}

/*footer*/



.footer-logo{
	float: left;
	padding-top: 5px;
}


.footer-info{
	float: right;
}

.footer-info p{
	padding-top: 5px;
}

.footer-info span{
	color: #FF44AA;
}


.backtotop a{
	position: fixed;
	right: 0;
	bottom: 0;  
}
